{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>
<div class="social">
    <ul>
        <li class="facebook">
            <a href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>
        </li>
        <li class="twitter">
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
</li>
        <li class="google">
    <a href="{% url 'social:begin' 'google' %}">Login with Google</a>
</li>
    </ul>


</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>

{% endblock %}